* 
{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h4, h2
{
    text-align: center;
    color: #fff;
}
.container-fluid 
{
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(img/jaxHighNight1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    padding: 0 0 28px 0;
    overflow-x: hidden;
}

.heading 
{
    font-size: 2.2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.sub-heading 
{
    font-size: 1.5rem;
}

.card 
{
    background: rgba(255, 255, 255, 0.05);
    color: #fff;
    backdrop-filter: blur(4px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.5);
    border: 2px solid rgba(255, 255, 255, 0.05);
}

.card a 
{
    background: rgba(255, 255, 255, 0.05);
    border-color: rgba(255, 255, 255, 0.05);
}
.card:hover 
{
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.404);
    /* border: 20px solid black; */
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 0px 0px 50px 0px rgba(246, 250, 0, 0.67);
    box-shadow: 0px 0px 50px 0px rgba(246, 250, 0, 0.67);
}
.card:last-of-type:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(246, 250, 0, 0.67);
    -moz-box-shadow: 0px 0px 30px 0px rgba(246, 250, 0, 0.67);
    box-shadow: 0px 0px 30px 0px rgba(246, 250, 0, 0.67);
}

.wavy 
{
    position: relative;
    -webkit-box-reflect: below -12px linear-gradient(tranparent, rgba(34, 28, 28, 0.5));
}
.wavy span 
{
    position: relative;
    display: inline-block;
    color: rgb(255, 255, 255);
    font-size: 2em;
    font-weight: 5em;
    animation: animate 2s ease-in-out infinite;
    animation-delay: calc(0.1s * var(--i));
    margin: 20px;
}

@keyframes animate 
{
    0% {
        transform: translateY(0px);
    }
    22% {
        transform: translateY(-75px);
    }
    40%, 100% {
        transform: translateY(0px);
        /*more than 50px will get you choppy glitch effect*/
    }
}
